body {
  background: #000000;
}
.video {
  height: 620px;
  display: flex;
  align-items: center;
  color: #fff;
  overflow-x: hidden;
}

.content {
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

body {
  overflow-x: hidden;
}
.header-content {
  position: relative;
  margin: auto;
}
.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.header-video video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 620px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0b0d13;
  z-index: 1;
  opacity: 0.85;
}

.header-content {
  z-index: 2;
}
.button-a {
  display: inline-block;
  background: #143a58;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 5px;
  text-decoration: none;
}
.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
  font-family: "Viga", sans-serif;
}
.header-content h2 {
  font-size: 25px;

  font-family: "Viga", sans-serif;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}
.p{
  color :blue
}
header {
  background: #000000;
  margin-bottom: 20px;
  height: 70px;
}
.navbar-nav .modificar-menu-boostrapp {
  display: flex;
}

.efecto-maquina {
  font-family: monospace;
  border-right: 2.5px solid rgb(11, 122, 11);
  animation: cursor 0.5s infinite, escribiendo 5.5s steps(20) infinite;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  font-family: "Montserrat", sans-se;
}

.tx-1 {
  color: rgb(11, 122, 11);
  font-weight: bold;
}
.efecto-maquina-escribir {
  display: inline-block;
}
@keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
}
@keyframes escribiendo {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
/* fin de header*/
.btn-primary {
  background: rgb(51, 70, 153);
  padding: 20px;
  text-decoration: none;
  border-radius: 20px;
}
.btn-primary:hover {
  background: rebeccapurple;
}
/* *****************************************************+*/
/* *****************************************************+*/
/* main*/
.contenedor-main {
  margin-bottom: 10px;
  height: 700px;
  background: #000000;
  font-family: "Roboto Condensed", sans-serif;
}
.contenedor-main4 {
  margin-bottom: 10px;
  height: 1400px;
  background: #000000;
  font-family: "Roboto Condensed", sans-serif;
}
.contenedor-main-2 {
  background: rgb(34, 30, 30);
  height: auto;
}

.contenedor-main h2,
.contenedor-main-2 h2,
.contenedor-main3 h2 {
  text-align: center;
  font-family: "Viga", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-top: 7px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

.contenedor-main3 h2 {
  position: relative;
  top: 50px;
}
.text-right {
  display: flex;
  justify-content: end;
}

.text-left {
  display: flex;
  justify-content: start;
}

.Formacion {
  background: #0c4675;
  font-family: "Roboto Condensed", sans-serif;
  height: 760px;
}
.contenedor-formacion {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
}
.contenedor-main4 {
  margin-bottom: 10px;
  height: auto;
  background: #161313;
  font-family: "Roboto Condensed", sans-serif;
}
.spans-hijos {
  margin: 60px 0px;
  padding: 20px;
  color: #fff;
}

.iconos-spans {
  margin: 60px 0px;
}
.icono {
  background: #0b0d13;
  color: rgb(126, 10, 68);
  font-size: 40px;
  padding: 8px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

.padre-iconos {
  position: relative;
  bottom: 190px;
}
.div2 {
  display: none;
}

.div {
  border-left: 2px solid whitesmoke;
  height: 360px;
  position: relative;
  left: 49%;
  top: 210px;
}
.sistema {
  position: relative;
  top: 25px;
}
.ingles {
  position: relative;
  top: 11px;
}
.texto-en-mobil {
  display: none;
}

.img-about img {
  width: 250px;
  height: 270px;
  border-radius: 50%;
  margin-right: 6px;
}
.parrafo-about {
  width: 400px;
}
.acerca-de-mi,
.habilidades {
  background: rgb(255, 255, 255);
  color: #383636;
  padding: 20px 10px;
  height: 500px;
  display: flex;
  border-radius: 2%;
  font-weight: 500;
}
.acerca-de-mi {
  padding: 10px 10px;
  position: relative;
}

.habilidades {
  display: flex;
  justify-content: center;
  gap: 120px;
  background: #000;
  font-family: "Roboto Condensed", sans-serif;
}
/* iconos main*/
.html,
.css,
.git {
  color: rgb(25, 51, 199);
  background: #000000;
  font-size: 120px;
}
.js,
.github,
.figma,
.fa-react,
.fa-database,
.fa-share-nodes {
  color: rgb(25, 51, 199);
  font-size: 120px;
  background: #000;
}
.fusia {
  background: #2196f3;
  width: 50px;
  height: 50px;
}

.cv-descarga a {
  background: rgb(25, 51, 199);
  display: flex;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  width: 30%;
  padding: 20px;
  margin-bottom: 20px;
}
.contenedor-main-2 p {
  text-align: center;
  color: #fff;
}

.padre {
  height: 290px;
  background: #000000;
}

.padre .col {
  display: flex;

  justify-content: center;
  align-items: center;
  border-right: 1px solid #2196f3;
}

.margen-padre-columnas {
  margin: 10px 0px;
}
.margen-padre-columnas .iconos {
  font-size: 40px;
}

.iconos {
  color: rgb(25, 51, 199);
  font-size: 60px;
}

.padre_proyectos {
  display: flex;
  gap: 5px;
}

.contedor1 {
  height: 195px;
  width: 400px;
  background: rgb(126, 119, 119);
  position: relative;
}
.h2-proyectos {
  color: #fff;
  font-size: 15px;
}
.gallery-item:hover {
  background: #0a6474;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  position: relative;
  left: 2px;
  filter: sepia(70%);
}

.capa {
  color: #fff;
  font-size: 22px;
  display: none;
  position: relative;
  top: 12px;
  border-radius: 10px;
  text-align: center;
}

.projects-repositiorio-web {
  background: #000;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.cl:hover .projects-repositiorio-web {
  background: rgb(0, 37, 51);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.texto-modal {
  background-color: #02343d;
  color: #fff;
}
.repositiorio {
  display: block;
  color: #fff;
  width: 400px;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  border-right: 1px solid #fff;
}

.web {
  display: block;
  text-decoration: none;
  width: 400px;
  text-align: center;
  padding: 13px;
  color: #fff;
}
@keyframes mover {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(70%) translateY(80%);
  }
}
.parrafo-portafolio {
  width: 400px;
  margin: auto;
}
footer {
  background: rgb(25, 18, 46);
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  height: 290px;
}
footer .card {
  background: #000000;
}
footer .col h2 {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
footer .col {
  color: rgb(25, 51, 199);
}
.small a {
  text-decoration: none;
  color: rgb(25, 51, 199);
  font-size: 16px;
}
.text-uppercase {
  font-size: 15px;
  color: rgb(25, 51, 199);
}

.widgets {
  margin-top: 60px;
  margin-bottom: 20px;
}

.widgets > div {
  background: #000000;
  color: #fff;
  padding: 20px;
}

.Columnas {
  border-right: 2px solid rgb(102, 196, 240);
  display: flex;
  flex-direction: column;

  text-align: center;
  gap: 30px;
}

.gallery {
  padding: 80px 0px;
}
img {
  max-width: 100%;
}
.gallery img {
  background: #fff;
  padding: 15px;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 220px;
  border-radius: 20px;
}
#gallery-popup .modal-img {
  width: 100%;
}

@media only screen and (max-width: 300px) {
  .caja-contenedora {
    position: relative;
    right: 500px;
    bottom: 750px;
  }
  .parrafo-about p {
    width: 270px;
  }
  .icono {
    font-size: 20px;
  }
  .padre-iconos {
    position: relative;
    left: 20px;
    margin-right: 30px;
    font-size: 10px;
  }

  .header-content h1 {
    font-size: 30px;
    margin-bottom: 0;
    font-family: "Viga", sans-serif;
  }
  .header-content h2 {
    font-size: 20px;

    font-family: "Viga", sans-serif;
  }
}

@media only screen and (max-width: 774px) {
  .navbar-nav .modificar-menu-boostrapp {
    background: #01182b;
    width: 200px;
    text-align: center;
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .acerca-de-mi {
    flex-direction: column;
    height: 600px;
  }

  .servicios{
    flex-direction: column;
    
 
   

  }
  .contenedor-main-2 h2 {
    margin-top: 30px;
  }

  .parrafo-portafolio {
    width: auto;
    margin: auto;
  }
  .habilidades {
    gap: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 1500px;
    background: #000;
    align-items: center;
  }

  /* iconos main*/

  .html,
  .css,
  .git {
    color: rgb(25, 51, 199);
    background: #000000;
    font-size: 110px;
  }
  .js,
  .github,
  .figma {
    color: rgb(25, 51, 199);
    font-size: 110px;
    background: #000;
  }
  .fa-css3-alt {
    position: relative;
    left: 5px;
    font-size: 125px;
  }
  .fusia {
    background: #2196f3;
    width: 50px;
    height: 50px;
  }

  .cv-descarga a {
    background: rgb(25, 51, 199);
    display: flex;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    width: 200px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .contenedor-main-2 p {
    text-align: center;
    color: #fff;
  }
  .acerca-de-mi img {
    margin-bottom: 10px;
  }
  .text-left {
    font-size: 17px;
  }
  .text-right {
    font-size: 17px;
  }

  .padre-iconos {
    position: relative;
    bottom: 290px;
  }
  .contenedor-main3 {
    background: #0b0d13;
  }

  .text-right {
    display: flex;
    justify-content: start;
    font-size: 18px;
  }
  .icono {
    color: rgb(15, 118, 126);
    font-size: 40px;
  }
  .contenedor-main3 h2 {
    color: rgb(15, 118, 126);
  }
  .contenedor-formacion {
    flex-direction: column;
  }

  .caja-contenedora {
    position: relative;
    right: 115px;
    bottom: 750px;
    margin-right: 30px;
  }
  .caja-contendora2 {
    display: none;
  }
  .div {
    display: none;
  }
  .div2 {
    display: block;

    border-left: 2px solid whitesmoke;
    height: 390px;
    position: relative;
    bottom: 600px;
    right: 90px;
    margin-right: 5px;
  }
  .contenedor-main3 {
    height: 780px;
  }
  .contenedor-main4 {
    margin-bottom: 90px;
    height: 900px;
    background: rgb(1, 42, 54);
    font-family: "Roboto Condensed", sans-serif;
  }

  .texto-en-mobil {
    display: block;
  }
  .sistema {
    display: block;
  }

  .padre {
    height: 1000px;
  }

  .Columnas {
    border-bottom: 2px solid rgb(102, 196, 240);
    display: flex;
    flex-direction: column;

    text-align: center;
    gap: 40px;
  }

  .iconos {
    font-size: 60px;
    color: #11521c;
  }
  .contenedor-main4 {
    height: auto;
  }

  .header-overlay {
    height: 620px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0b0d13;
    z-index: 1;
    opacity: 0.6;
  }
  footer {
    height: auto;
  }
}
